.zcompdump*
.vim/.init.vim-rplugin~
.vim/undo/
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/el-get
.emacs.d/site-lisp
.emacs.d/url
.emacs.d/network-security.data
.emacs.d/recentf
.emacs.d/.python-environments
.emacs.d/undohist
*~
