FCODES="$HOME/var/db/locate.database"
FILESYSTEMS="hfs ufs smbfs"
PRUNEPATHS=$(cat << EOF | tr '[:space:]' ' '
$HOME/.anyenv
$HOME/.cache
$HOME/.emacs.d
$HOME/.vim
$HOME/Library
*/*.lnk
*/.git
*/Backups.backupdb
/Applications
/Library
/System
/private/tmp
/private/var/folders
/private/var/tmp
EOF
)
PRUNEPATHS="$PRUNEPATHS $(cat $HOME/.gitexclude | sed -e 's/#.*//' | tr '[:space:]' ' ' | xargs)"
SEARCHPATHS="/ $(find $HOME/mnt -maxdepth 1 -type d | tr '[:space:]' ' ')"
